node_modules/
.expo/
.expo-shared/
dist/
web-build/

# 환경 변수
.env
.env.local

# 빌드 산출물
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/

# 디버그 / 로그
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# OS / 에디터
.DS_Store
Thumbs.db
.vscode/
.idea/
